$transition: .4s ease-in-out;
$transitionSlow: .6s ease-in-out;
$animTransition: .8s ease-in-out;

$lato: 'Lato', sans-serif;
$roboto: 'Roboto', sans-serif;

$background: #D1D1D1;
$black: #040404;
$blue: #1126B6;
$dark-gray: #6F6F6F;
$gray: #C3C3C3;
$yellow: #BFA115;
$white: #FFFFFF;
$red: #E20D0D;