@import "../default/3. variables";
@import "../default/4. mixins";

.cookie-warning {
  z-index:          5;
  position:         fixed;
  left:             -1000px;
  bottom:           50px;
  width:            500px;
  padding:          30px;
  display:          flex;
  flex-direction:   column;
  align-items:      flex-start;
  background-color: $white;
  transition:       left 0.65s ease-in-out, bottom 0.65s ease-in-out;
  box-shadow:       4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  @include tablet {
    left:        10px;
    right:       10px;
    bottom:      -1000px;
    padding:     15px;
    width:       unset;
    align-items: unset;
  }

  &.active {
    left: 0;
    @include tablet {
      left:   10px;
      bottom: 10px;
    }
  }

  .cookie-background {
    position: absolute;
    top: -30px;
    right: 20px;
    width: 50px;
    height: 110px;
    @include tablet {
      display: none;
    }
  }

  .cookie-title {
    font-size:   22px;
    line-height: 25px;
    @include small-desktop {
      font-size:   18px;
      line-height: 21px;
    }
    @include small-laptop {
      font-size:   16px;
      line-height: 18px;
    }
    @include tablet { }
  }

  .cookie-description {
    margin-top:  10px;
    font-size:   22px;
    line-height: 25px;
    @include small-desktop {
      font-size:   18px;
      line-height: 21px;
    }
    @include small-laptop {
      font-size:   16px;
      line-height: 18px;
    }
    @include tablet { }
    a {
      color: $blue;
      text-decoration: underline;
      text-underline-offset: 5px;
      transition: color $transition;
      @include tablet {
        text-underline-offset: 3px;
      }
      @include hover {
        color: $yellow;
      }
    }
  }

  .cookie-button {
    margin-top: 30px;
    width: 100%;
    @include tablet {
      margin-top: 20px;
    }
  }
}